<div>
  <input
    type="text"
    [value]="searchTerm()"
    (input)="onType($event)"
    (keydown)="onKeyDown($event)"
    (focus)="showDropdown.set(true)"
    (blur)="onBlur()"
    placeholder="Woher?"
    class="search-input"
  />

  @if (searchResults().length > 0 && showDropdown()) {
    <ul class="results-dropdown">
      @for (station of searchResults(); track station.id; let i = $index) {
        <li
          class="result-item"
          [class.highlighted]="activeIndex() === i"
          (click)="selectStation(station)"
          (mouseenter)="activeIndex.set(i)"
        >
          {{ station.displayName }}
        </li>
      }
    </ul>
  }
</div>
