<mgl-map
  [mapStyle]="'https://tiles.openfreemap.org/styles/liberty'"
  [zoom]="[11.5]"
  [center]="[8.653928, 50.11995]"
  [canvasContextAttributes]="{ preserveDrawingBuffer: true }"
>
  @if (currentIsochrone(); as isochrone) {
    <mgl-geojson-source id="polygonSource" [data]="isochrone"> </mgl-geojson-source>
    <mgl-layer
      id="polygonFill"
      type="fill"
      source="polygonSource"
      [paint]="{
        'fill-color': '#00E5FF',
        'fill-opacity': 0.3,
      }"
    >
    </mgl-layer>
    <mgl-layer
      id="polygonOutline"
      type="line"
      source="polygonSource"
      [paint]="{
        'line-color': '#008B8B',
        'line-width': 1,
      }"
    >
    </mgl-layer>
    @if (stationCoordinates(); as station) {
      <mgl-geojson-source
        #mySource
        id="pointSource"
        [data]="{
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [station.lon, station.lat],
          },
          properties: {
            name: station.displayName,
          },
        }"
      ></mgl-geojson-source>
      <mgl-layer
        id="StationPoint"
        type="circle"
        source="pointSource"
        [paint]="{
          'circle-radius': 6,
          'circle-color': '#0891b2',
          'circle-opacity': 1,
          'circle-stroke-color': '#ffffff',
          'circle-stroke-width': 2,
        }"
      >
      </mgl-layer>
      <mgl-layer
        id="StationLabel"
        type="symbol"
        source="pointSource"
        [layout]="{
          'text-field': ['get', 'name'],
          'text-font': ['Noto Sans Bold'],
          'text-size': 15,
          'text-anchor': 'bottom',
          'text-offset': [0, -0.8],
        }"
        [paint]="{
          'text-color': '#111827',
          'text-halo-color': '#ffffff',
          'text-halo-width': 2.5,
        }"
      >
      </mgl-layer>
    }
  }
</mgl-map>
