.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 3px 0;
  position: relative;
  z-index: 20;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: #111827;
  margin-left: 20px;
}

.clickable-info-text {
  background: transparent;
  border: none;
  font-family: inherit;
  
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  border-radius: 9999px;
  margin-right: 5px;
  
  /* Typography and Color */
  font-size: 1rem;
  font-weight: 500;
  color: #6b7280;
  cursor: pointer;
  
  transition: all 0.2s ease-in-out;

  svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
    transition: transform 0.2s ease;
  }

  &:hover {
    background-color: #f3f4f6;
    color: #111827;
    
    svg {
      transform: scale(1.1);
    }
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus-visible {
    outline: 2px solid #111827;
    outline-offset: 2px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.1rem;
    margin-left: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .info-text {
    display: none;
  }

  .clickable-info-text {
    padding: 8px;
    margin-right: 8px;
    
    svg {
      width: 24px;
      height: 24px;
      margin: 0;
    }
  }
}